# Compiled class file
*.class

# Log file
*.log

# Output directory
out/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntellijIdea Specfic Files
*.iml
*.idea

# Temp swp files
*.swp


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
